params {
    genome = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta'
    dxtracks_path = '/hpc/diaggen/software/production/Dx_tracks'

    mips_trim_dedup_path = '/hpc/diaggen/software/production/mips'
    mips_design_file = 'fingerprint/81_snp_mips_design.txt'
    mips_uuid_length = 8
    mips_uuid_read = 'R1'

    gatk_path = '/hpc/diaggen/software/tools/GenomeAnalysisTK-3.8-1-0-gf15c1c3ef/GenomeAnalysisTK.jar'
    fingerprint_target = 'fingerprint/81SNP_design.vcf'
    qc_settings_path = '/hpc/diaggen/software/production/DxNextflowMIP/assets/checkqc_settings.yaml'

    cluster_options = "--mail-user $params.email --mail-type FAIL"
}

process {
    withLabel: 'BWA_0_7_17_MEM' {
        cpus = 2
        memory = '10G'
        time = '20m'
    }

    withLabel: CheckFingerprintVCF {
        cpus = 2
        memory = '5G'
        time = '10m'

        publishDir = [
            [path: "$params.outdir/", mode: 'link', pattern: 'logbook.txt'],
            [path: "$params.outdir/fingerprint/", mode: 'copy', pattern: 'approvedVCFs/*.vcf', saveAs: { file -> file.split('/')[-1] }],
            [path: "$params.outdir/fingerprint/", mode: 'copy', pattern: 'disapprovedVCFs'],
        ]
    }

    withLabel: CheckQC {
        cpus = 2
        memory = { 5.GB * task.attempt }
        time = { 5.m * task.attempt }

        publishDir {
            path = "$params.outdir/QC/CheckQC"
            mode = 'link'
        }
    }

    withLabel: 'FASTQC_0_11_8' {
        cpus = 2
        memory = '1G'
        time = '20m'

        publishDir {
            path = "$params.outdir/QC/FastQC"
            mode = 'link'
        }
    }

    withLabel: 'GATK_3_8_1_0_gf15c1c3ef_UnifiedGenotyper' {
        cpus = 2
        memory = '5G'
        time = '20m'
    }

    withLabel: 'MIPS_1_0_1_TrimDedup' {
        cpus = 2
        memory = '1G'
        time = '20m'

        publishDir {
            path = "$params.outdir/fastq_files"
            mode = 'link'
        }
    }

    withLabel: 'MultiQC_1_8' {
        cpus = 2
        memory = '1G'
        time = '20m'

        publishDir {
            path = "$params.outdir/QC"
            mode = 'link'
        }
    }

    withLabel: Sambamba_0_7_0_Flagstat {
        cpus = 2
        memory = '5G'
        time = '20m'

        publishDir {
            path = "$params.outdir/QC/Flagstat"
            mode = 'link'
        }
    }

    withLabel: Sambamba_0_7_0_ViewSort {
        cpus = 2
        memory = '1G'
        time = '20m'

        publishDir {
            path = "$params.outdir/bam_files"
            mode = 'link'
        }
    }

    withLabel: VersionLog {
        cpus = 2
        memory = '5G'
        time = '10m'

        publishDir {
            path = "$params.outdir/log"
            mode = 'link'
        }
    }

    withLabel: Workflow_Export_Params {
        cpus = 2
        memory = '5G'
        time = '10m'

        publishDir {
            path = "$params.outdir/log"
            mode = 'link'
        }
    }

}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}

profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"

            errorStrategy = 'retry'
            maxRetries = 3
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }

        mail {
            smtp.host = 'localhost'
        }
    }

    mac {
        docker.enabled = true
        docker.runOptions = '-v /Users:/Users'
    }
}
